.bannerPicList li{
    display: none;
}
.bannerPicList li.active{
    display: block;
}
.bannerContainer .bannerBtnList {
    position: absolute;
    top: 360px;
    left: 116px;
  
}
.bannerContainer .bannerBtnList li {
    float: left;
    margin: 0 5px;
    list-style-type:none;
}
.bannerContainer .bannerBtnList span.picBtn {
    margin: 20px;
    height: 10px;
    width: 10px;
    background-color: #ddd;
   display: block;
    border-radius: 5px;
    cursor: pointer;
}