<!-- <div class="myslides">
  <ks-swiper-container [options]="swipeOptions">
    <ks-swiper-slide *ngFor="let item of data">
      <img src="http://api.randomuser.me/portraits/thumb/men/{{item}}.jpg">
    </ks-swiper-slide>
  </ks-swiper-container>
  <button (click)="movePrev()">Prev</button>
  <button (click)="moveNext()">Next</button>
</div> -->
<div class="bannerContainer">
  <ul class="bannerPicList"> 
    <li [class.active]="currentPic==0"> <img src="assets/img/category01.jpg"/></li>
    <li [class.active]="currentPic==1"> <img src="assets/img/category02.jpg"/></li>
    <li [class.active]="currentPic==2"> <img src="assets/img/category03.jpg"/></li>
  </ul>
  <ul class="bannerBtnList"> 
    <li><span class="picBtn" (click)="changebanner(0)">●</span></li>
    <li><span class="picBtn" (click)="changebanner(1)">●</span></li>
    <li><span class="picBtn" (click)="changebanner(2)">●</span></li>
  </ul>
</div>