.col-1-4{
    float: left;
    width: 200px;
    height: 200px;
    background-color: #336699;
    margin-right: 1%;
}

.bannerPicList li{
    display: none;
    margin-left: -53px;
}
.bannerPicList li.active{
    display: block;
}
.bannerContainer .bannerBtnList {
    top: 360px;
}
.bannerContainer .bannerBtnList li {
    float: left;
    margin: 0 0px;
    list-style-type:none;
}
.bannerContainer .bannerBtnList span.picBtn {
    margin: 10px;
    height: 10px;
    width: 10px;
    background-color: #ddd;
   display: block;
    border-radius: 5px;
    cursor: pointer;
}